{% extends "layout.html" %} {% block content %}
<div class="wrapper">
    <img style="width: 100%;" src="https://i.ibb.co.com/09M2gt4/banner.webp" alt="banner">
    <br><br>
    <h1>Klasifikasi TB Dengan Metode Perceptron</h1>
    <br>
    <p>
        Selamat datang di Web Klasifikasi TB dengan metode Perceptron. Web ini akan
        berisi catatan kami mengenai tahapan pengolahan data hingga modeling data.
    </p>
    <br><br>
    <h2>Apa itu Tuberculosis (TB)?</h2>
    <br>
    <p>Suatu penyakit bakteri menular yang berpotensi serius yang terutama mempengaruhi paru-paru.
        Bakteri penyebab TB menyebar ketika orang yang terinfeksi batuk atau bersin.
        Kebanyakan orang yang terinfeksi dengan bakteri yang menyebabkan tuberkulosis tidak memiliki gejala. Ketika
        gejala memang terjadi, biasanya berupa batuk (kadang-kadang ada bercak darah), penurunan berat badan,
        berkeringat di malam hari, dan demam.</p>
    <br><br>
    <h2>Apa itu Perceptron?</h2>
    <br>
    <p>perceptron adalah algoritma untuk melakukan klasifikasi biner (dua jenis). Klasifikasi
        biner menggunakan suatu fungsi yang menentukan suatu data termasuk dalam suatu kelompok atau tidak. Ia termasuk
        jenis pengklasifikasi linear, yaitu algoritme klasifikasi yang memprediksi dengan fungsi linear yang tersusun
        dari
        himpunan bobot dengan vektor fitur.</p>
</div>

{% endblock %}